  
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(6, 75, 48);
  }
  
  .frame {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    color: white;
    text-align: center;
  }
  
  .picture {
    width: 300px;
  }
  
  .button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid white;
    margin: 20px 20px 20px 20px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  a {
    color: #bfc0c0;
    text-decoration: none;
    letter-spacing: 1px;
  }
  
  #arrow {
    width: 15px;
    height: 10px;
    position: absolute;
    transform: translateX(60px);
    opacity: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.14, 0.59, 1, 1.01);
    transition: all 0.15s cubic-bezier(0.14, 0.59, 1, 1.01);
    margin: 0;
    padding: 0 5px;
  }
  
  a#Button:hover img {
    width: 15px;
    opacity: 1;
    transform: translateX(50px);
  }

  table.bordered-table th, td {border: 1px solid silver; padding: 4px;}
  table.bordered-table {border-collapse: collapse;}